a.knowledge-center {
  font-weight: bold;
  display: block;
  position: fixed;
  width: 250px;
  left: 0;
  bottom: 20px;
  text-align: left;
  font-size: 0.75em;
  margin: 0 !important;
  padding: 0.5em 1.5em;
}

.close-button {
  float: right;
}

.modal-title {
  width: 100%;
}

.kc-header {
  float: left;
  width: calc(100% - 40px);
}

.kc-close {
  float: left;
  width: 40px;
}

.kc-content .tab-pane {
  padding: 1em;
}
