@import "colors";

.sentence-filter-container {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.375rem;
  font-size: 16px;
  font-weight: 700;

  .highlighted-text {
    color: $bmc-color;
  }

  .shiny-input-container {
    width: auto;
    margin: 0;

    label {
      display: none;
    }

    .dropdown {
      font-size: inherit;
      font-weight: inherit;
      background: inherit;
    }

    .btn {
      border: 0;
      padding: 0;
      font-size: inherit;
      font-weight: inherit;
      background: inherit;

      &:focus {
        outline: none !important;
      }

      &::after {
        display: none;
      }

      .bs-caret {
        display: none;
      }

      .filter-option {
        padding-right: 0;

        .filter-option-inner {
          border-bottom: dashed;
          color: $bmc-color;
        }
      }
    }
  }

  .optional-tag {
    font-size: 10px;
    font-weight: 400;
  }
}

.sentence-filter-container.year-slider {
  align-items: flex-start;
}

.global-filters-container {
  .sentence-filter-container {
    font-size: inherit;
    font-weight: inherit;
  }
}
