.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.code-workspace
dependencies-dev.R
.Renviron
validation_report.html
data_validator/renv
app_cache/

shinyproxy_logs
.private.env
.env.local
.env.modified_docker_tag

*/**/telemetry.txt

shinyproxy/admin_users.txt
shinyproxy/regular_users.txt
